<form (submit)="signup()" [formGroup]="userForm" class="create-form">
    <div class="input">
        <label for="email">Email:</label><br>
        <input type="email" name="email" id="email" formControlName="email">

        <span *ngIf="validateField('email', 'email')">
            Invalid email.
        </span>

        <span *ngIf="validateField('email', 'required')">
            This field is required.
        </span>
    </div>

    <div class="input">
        <label for="username">Username:</label><br>

        <input type="text" name="username" id="username" formControlName="username">

        <span *ngIf="validateField('username', 'required')">
            This field is required.
        </span>
    </div>

    <div class="input">
        <label for="password">Password:</label><br>

        <input type="password" name="password" id="password" formControlName="password">

        <span *ngIf="validateField('password', 'required')">
            This field is required.
        </span>
    </div>

    <button type="submit" class="form-btn">Signup</button>
</form>