<nav>
    <p>Techviews</p>
    <a routerLink="">Home</a>
    <a routerLink="create-article">Create</a>
    <a routerLink="login">Login</a>
    <a routerLink="signup">Signup</a>
    <!--<span (click)="logout()" class="btn-logout">LOGOUT</span>-->
</nav>

<header>


    <div class="banner"></div>

    <div class="sub-banner">
        <div class="sub-banner-txt">
            <h3>Compartir tus soluciones de tecnología</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo aperiam, enim sequi alias facilis dicta culpa, necessitatibus cum fugit illo, modi deleniti ab quam sint quod odit consequuntur molestiae magnam! Aspernatur illum ut cum vitae, deserunt possimus repellendus temporibus totam rem aliquam, commodi quam molestiae velit rerum minima debitis alias.</p>
            <button class="sub-banner-btn">Register</button>
        </div>
        <div class="sub-banner-img">
            <img src="../../../../assets/img/2.gif" alt="">
        </div>
    </div>

    <div class="sub-banner">
        <div class="sub-banner-txt">
            <h3>Compartir tus soluciones de tecnología</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo aperiam, enim sequi alias facilis dicta culpa, necessitatibus cum fugit illo, modi deleniti ab quam sint quod odit consequuntur molestiae magnam! Aspernatur illum ut cum vitae, deserunt possimus repellendus temporibus totam rem aliquam, commodi quam molestiae velit rerum minima debitis alias.</p>
            <button class="sub-banner-btn">Register</button>
        </div>
        <div class="sub-banner-img">
            <img src="../../../../assets/img/3.gif" alt="">
        </div>
    </div>

    <div class="sub-banner">
        <div class="sub-banner-txt">
            <h3>Compartir tus soluciones de tecnología</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo aperiam, enim sequi alias facilis dicta culpa, necessitatibus cum fugit illo, modi deleniti ab quam sint quod odit consequuntur molestiae magnam! Aspernatur illum ut cum vitae, deserunt possimus repellendus temporibus totam rem aliquam, commodi quam molestiae velit rerum minima debitis alias.</p>
            <button class="sub-banner-btn">Register</button>
        </div>
        <div class="sub-banner-img">
            <img src="../../../../assets/img/4.gif" alt="">
        </div>
    </div>

</header>
