<nav>
    <p>Techviews<i class="bi bi-code"></i></p>
    <a routerLink="" class="nav-page">Home</a>
    <a routerLink="create-article" class="nav-page">Create</a>
    <a routerLink="login" class="nav-page">Login</a>
    <a routerLink="signup" class="nav-page">Signup</a>
    <!--<span (click)="logout()" class="btn-logout">LOGOUT</span>-->
    <div class="nav-link-container">
        <a href="" class="nav-link"><i class="bi bi-twitter-x"></i></a>
        <a href="" class="nav-link"><i class="bi bi-github"></i></a>
        <a href="" class="nav-link"><i class="bi bi-instagram"></i></a>
        <a href="" class="nav-link"><i class="bi bi-youtube"></i></a>
    </div>
</nav>