<div class="article-read-container">
    <h2>{{ article?.title }}</h2>
    <p class="article-author"> Written by: {{ article?.author }}</p>
    <p> Date: {{  article?.created | date:"MMM dd, yyyy 'at' hh:mm a"  }}</p>
    <p class="article-text"> {{ article?.body }}</p>

    <div class="article-actions">    
        <button class="action-btn" [routerLink]="['/article/edit', article?._id]">Update <i class="bi bi-pencil-fill"></i></button>

        <button (click)="deleteArticle(article?._id)" 
            class="action-btn">Delete <i class="bi bi-x-circle"></i></button>    
        
        <button class="action-btn">Vote as ADS <i class="bi bi-star-fill"></i></button>

        <button class="action-btn">Upvote <i class="bi bi-arrow-up-circle-fill"></i></button>
    </div>

    <div class="article-actions-mobile">
        
        <a class="action-btn-mobile" [routerLink]="['/article/edit', article?._id]">Update<i class="bi bi-pencil-fill"></i></a>

        <a (click)="deleteArticle(article?._id)" 
            class="action-btn-mobile">Delete<i class="bi bi-x-circle"></i></a>    
        
        <a class="action-btn-mobile">ADS<i class="bi bi-star-fill"></i></a>

        <a class="action-btn-mobile">Upvote<i class="bi bi-arrow-up-circle-fill"></i></a>
    </div>
</div>



