<form (submit)="saveArticle()" [formGroup]="articleForm" class="create-form">
    <div class="input">
        <label for="title">Title:</label><br>

        <input type="text" name="title" id="title" formControlName="title" class="simple-input">

        <span *ngIf="validateField('title', 'required')">
            This field is required.
        </span>
    </div>

    <div class="input">
        <label for="author">Author:</label><br>

        <input type="text" name="author" id="author" formControlName="author" class="simple-input" readonly>
    </div>

    <div class="input">
        <label for="body">Body:</label><br>

        <textarea name="body" id="body" formControlName="body" class="body-input">
        </textarea>

        <span *ngIf="validateField('body', 'required')">
            This field is required.
        </span>
    </div>

    <div class="article-actions-edit">    
        <button class="action-btn" (click)="saveArticle()">Update <i class="bi bi-pencil-fill"></i></button>

        <button (click)="cancelUpdate()"
            class="action-btn">Cancel <i class="bi bi-x-circle"></i></button>    
    </div>

    <div class="article-actions-mobile">
        
        <a class="action-btn-mobile" (click)="saveArticle()">Update <i class="bi bi-pencil-fill"></i></a>

        <a (click)="cancelUpdate()"
            class="action-btn-mobile">Delete <i class="bi bi-x-circle"></i></a>    
    </div>
</form>
