/*normalize*/
@import url('./assets/css/normalize.css');

/*bootstrap icons*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

@font-face {
    src: url('./assets/fonts/Numans-Regular.ttf');
    font-family: "main-font";
}

*, h1, a{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    
    background-image: url("./assets/img/1.gif");
    background-repeat: no-repeat;
    background-size: cover;
    /*smookyBlack*/
    background-color: #12100e;
    color: whitesmoke;
    font-size: 1.5rem;
    font-family: "main-font", sans-serif;
    text-shadow: 5px 3px 5px black;
}


header{
    height: 1900px;

    
    /*
    background-image: url("./assets/img/1biz.gif");
    background-repeat: no-repeat;
    background-size: cover;*/
}

.page-title{
    text-align: center;
}

nav{
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1.5%;
    padding-bottom: 0;
    text-shadow: 2px 1px 8px white;
}

nav > p {
    text-align: center;
    padding-bottom: 10px;
}

.nav-page
{
    text-align: center;
    color: snow;
    width: 10%;
    padding: 10px;
    transition: transform 0.1s ease-in-out 0s;
}

.nav-page:hover{
    transform: scale(1.1,1.1);
    position: relative;
    bottom: 2px;
    border-bottom: 3px solid greenyellow;
}
.nav-link{
    transition: transform 0.1s ease-in-out 0s;
    color: snow;
    margin: 10px;
    font-size: 1.8rem;
}

.nav-link:hover{
    position: relative;
    bottom: 2px;
    color: greenyellow;
    transform: scale(1.1,1.1);
}


.nav-link-container{
    padding: 5px;
    margin-top: 10px;
    margin-left: 30%;
    width: 40%;
}

.btn-logout{
    cursor: pointer;
    color: red;
}

/************************* articles*****************************/

main{
    min-height: 800px;
}

#article-section{
    padding-top: 30px;
    margin: 5px;
    background: rgba(0, 0, 0, 0.8);
}

#article-section > h3{
    font-size: 2.4rem;
    text-align: center;
    color: gold;
    text-shadow: 2px 1px 8px gold;   
}

.article{
    padding: 20px;
    box-shadow: 2px 5px 8px dimgray;
    border-bottom: 1px solid greenyellow;
    background: rgba(0, 0, 0, 0.4);
    transition: transform 0.1s ease-in-out 0s;
}

.article:hover{
    cursor: pointer;
    transform: scale(1.05, 1.05);
}

.article > h2{
    text-align: center;
    font-size: 2.1rem;
}

.ads{
    width: 90%;
    margin: 30px auto;
    padding: 20px;
    box-shadow: -1px 10px 15px greenyellow;
}

.articles-container{
    display: flex;
    padding: 5px;
}

.article-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
    margin: 20px;
    padding: 5px;
}

.article-list > h3 {
    text-align: center;
    font-size: 2.5rem;
}

.ads-list{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 30%;
    margin: 5px;
}

.ads-list > h5{
    text-align: center;
}

.form-container{
    background: rgba(0, 0, 0, 1);
    width: 100%;
    padding: 120px 0 0 20px;
    height: 1000px;
}

.form-container > h2{
    text-align: center;
    font-size: 2.7rem;
    margin-bottom: 50px;
    text-shadow: 2px 1px 8px white;
    font-weight: 900;
    letter-spacing: 10px;
}

label{
    font-size: 1.8rem;
    letter-spacing: 5px;
    font-weight: 500;
}

input, textarea{
    border: none;
    border-bottom: 2px solid dimgray;
    background: rgba(0, 0, 0, 1);
    width: 98%;
    margin-bottom: 90px;
    color: snow;
}

.body-input{
    resize: none;
    min-height: 250px;
}

.simple-input:focus, .body-input:focus{
    outline: none;
    border-bottom: 2px solid snow;
}

.form-btn
{
    width: 40%;
    height: 50px;
    color: black;
    border: none;
    background-color: snow;
    margin: 0 auto;
    transition: transform 0.1s ease-in-out 0s;
    letter-spacing: 10px;
    font-weight: 900;
}

.form-btn:hover{
    cursor: pointer;
    transform: scale(1.05, 1.05);
}

.create-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


footer{
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    color: snow;
    border-top: 1px solid white;
    /*background-color: #12100e;*/
}

/************************************** scroll bar ***************************/

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: snow;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: snow;
}

/************************landing page banner****************/

.sub-banner{
    margin-bottom: 20px;
    outline: 1px solid white;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
}

.sub-banner-img{
    max-width: 100%;
}

.sub-banner-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.sub-banner-txt > h3{
    text-shadow: 2px 1px 8px white;
    text-align: center;
    margin-bottom: 20px;
}

.sub-banner-btn{
    cursor: pointer;
    color: white;
    border: 3px solid deeppink;
    background-color: deeppink;
    margin-top: 50px;
    width: 70%;
    height: 50px;
    transition: transform 0.1s ease-in-out 0s;
}

.sub-banner-btn:hover{
    transform: scale(1.1,1.1);
    position: relative;
    bottom: 2px;
}