/*normalize*/
@import url('./assets/css/normalize.css');

@font-face {
    src: url('./assets/fonts/Numans-Regular.ttf');
    font-family: "main-font";
}

*, h1, a{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    /*background-image: url("./assets/img/1.gif");
    background-repeat: no-repeat;
    background-size: cover;*/
    /*smookyBlack*/
    background-color: #12100e;
    color: whitesmoke;
    font-size: 1.5rem;
    font-family: "main-font", sans-serif;
    text-shadow: 5px 3px 5px black;
}

main{
    margin: 20px;
    min-height: 800px;
}

.article{
    padding: 20px;
    border: 2px solid snow;
    border-radius: 15px;
    background-color: #1e1e24;
}

.ads{
    width: 98%;
    margin: 10px auto;
    padding: 20px;
    box-shadow: -1px 10px 15px greenyellow;
}

.articles-container{
    display: flex;
    padding: 5px;
}

.article-list{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 70%;
    margin-top: 5px;
    padding: 5px;
}


.ads-list{
    width: 30%;
    margin: 5px;
}

header{
    height: 2000px;
    background-color: #12100e;
    background-image: url("./assets/img/1.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

.page-title{
    text-align: center;
}

nav{
    width: 100%;
    position: fixed;
    display: flex;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1.2%;
}

nav > a
{
    text-align: center;
    color: snow;
    width: 10%;
    padding: 10px;
    border-bottom: 3px solid greenyellow;
}

.btn-logout{
    cursor: pointer;
    color: red;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    color: greenyellow;
}

/*scroll bar*/

/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: black;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: lightslategray;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: lightslategrey;
  }

  .sub-banner{
    margin-bottom: 20px;
    outline: 1px solid white;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
  }

  .sub-banner-img{
    max-width: 100%;
  }

  .sub-banner-txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }

  .sub-banner-txt > h3{
    text-align: center;
    margin-bottom: 20px;
  }

  .sub-banner-btn{
    cursor: pointer;
    color: white;
    border: 3px solid deeppink;
    background-color: deeppink;
    margin-top: 50px;
    width: 70%;
    height: 50px;
  }