
<div class="articles-container">
    <div *ngIf="articles.length > 0; else noArticles" class="article-list">
        <div *ngFor="let article of articles">
            <div class="article">
                <h2>{{ article.title }}</h2>
                <p> by {{ article.author }}</p>
                <p>{{ article.body.slice(0, 25) }} ... </p>
            </div>
        </div>
    </div>

    <div class="ads-list">
        <app-ads-list></app-ads-list>
    </div>
</div>
    
<ng-template #noArticles>
    <p>No articles yet</p>
</ng-template>

