

<div class="articles-container" id="articles">
    <div *ngIf="articles.length > 0; else noArticles" class="article-list">
        <h3>New Articles</h3>
        <div *ngFor="let article of articles">
            <a href="" [routerLink]="['/article/read', article._id]">
                <div class="article">
                    <h2>{{ article.title }}</h2>
                    <p> by {{ article.author }}</p>
                    <p class="article-body">{{ article.body.slice(0, 25) }} ... </p>
                    <p class="article-date">{{ article.created | date:"MMM dd, yyyy 'at' hh:mm a" }} </p>
                </div>
            </a>
        </div>
    </div>

    <div class="ads-list">
        <h5>Previous Week Articles</h5>
        <app-ads-list></app-ads-list>
    </div>
</div>
    
<ng-template #noArticles>
    <p>No articles yet</p>
</ng-template>

