<div class="article ads" *ngIf="currentADS; else noCurrentADS">
    <a href="" [routerLink]="['/article/read', currentADS!._id]">
        <h2 class="ads-title"> {{ currentADS.title }}</h2>
        <p class="ads-author"> by {{ currentADS.author}}</p>
        <p  class="article-body"> {{ currentADS.body.slice(0, 25)}} ... </p>
        <p class="article-date">{{ currentADS.created | date:"MMM dd, yyyy 'at' hh:mm a" }}</p>
    </a>
</div>

<ng-template #noCurrentADS>
    <h2> ADS title </h2>
    <p> by ADS author </p>
    <p  class="article-body"> ADS body ... </p>
</ng-template>